# Entornos virtuales
venv/
env/
__pycache__/
*.pyc

# Archivos descargados por el script (para no llenar GitHub de binarios)
scrcpy-bin/
scrcpy_download.tar.gz

# Logs y configuraciones del sistema
*.log
.DS_Store

# Otras cosas
main (copia anda bien).py
main (copia con visor).py

# Archivos temporales de Xed/Editores
*~
*.swp
